server-app/hospital.model/src/main/java/com/upsam/hospital/model/jaxb/file_MDX.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="volume">
		<xs:complexType>
			<xs:attribute name="zMin" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="-0.692"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="zMax" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="1.398"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="yMin" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="-0.072"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="yMax" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="1.798"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="xMin" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="-2.659"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="xMax" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="2.731"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="vel1d">
		<xs:complexType>
			<xs:attribute name="scaleFactor" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="10000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nSegs" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nPoints" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nItems" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="velLHSTRIDE"/>
						<xs:enumeration value="velLHSWING"/>
						<xs:enumeration value="velMEAN"/>
						<xs:enumeration value="velRHSTRIDE"/>
						<xs:enumeration value="velRHSWING"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="L Swing Velocity"/>
						<xs:enumeration value="L Velocity"/>
						<xs:enumeration value="Mean Velocity"/>
						<xs:enumeration value="R Swing Velocity"/>
						<xs:enumeration value="R Velocity"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="data" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="3365"/>
						<xs:enumeration value="3372"/>
						<xs:enumeration value="3448"/>
						<xs:enumeration value="3492"/>
						<xs:enumeration value="7179"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="coords" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="V"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="trial">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="stream"/>
				<xs:element ref="static"/>
				<xs:element ref="cycle"/>
				<xs:element ref="calibration"/>
				<xs:element ref="stick_model"/>
			</xs:sequence>
			<xs:attribute name="time" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0:0:0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0633~ac~Walking 01.tdf"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SMART acquisition"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="date" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1-1-2000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="track1d_band">
		<xs:complexType>
			<xs:attribute name="scaleFactor" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="10000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nSegs" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nPoints" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nItems" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="dLSTRIDE"/>
						<xs:enumeration value="dRSTRIDE"/>
						<xs:enumeration value="dmLSTEP"/>
						<xs:enumeration value="dmRSTEP"/>
						<xs:enumeration value="dmSTEPWIDTH"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="L Step Length"/>
						<xs:enumeration value="L Stride Length"/>
						<xs:enumeration value="R Step Length"/>
						<xs:enumeration value="R Stride Length"/>
						<xs:enumeration value="Step Width"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="data" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1107 345"/>
						<xs:enumeration value="1152 91"/>
						<xs:enumeration value="2643 373"/>
						<xs:enumeration value="4655 0"/>
						<xs:enumeration value="4972 0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="coords" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="M S"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="track1d">
		<xs:complexType>
			<xs:attribute name="scaleFactor" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="10000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nSegs" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nPoints" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nItems" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="dseqLSTEP"/>
						<xs:enumeration value="dseqLSTRIDE"/>
						<xs:enumeration value="dseqRSTEP"/>
						<xs:enumeration value="dseqRSTRIDE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="L Step Length"/>
						<xs:enumeration value="L Stride Length"/>
						<xs:enumeration value="R Step Length"/>
						<xs:enumeration value="R Stride Length"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="data" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="I 1061 I 1242 "/>
						<xs:enumeration value="I 2270 I 3015 "/>
						<xs:enumeration value="I 4655 "/>
						<xs:enumeration value="I 4972 "/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="coords" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="V"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="track">
		<xs:complexType>
			<xs:attribute name="scaleFactor" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="10000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nSegs" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="10"/>
						<xs:enumeration value="13"/>
						<xs:enumeration value="17"/>
						<xs:enumeration value="18"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="29"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="34"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="43"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="6"/>
						<xs:enumeration value="7"/>
						<xs:enumeration value="8"/>
						<xs:enumeration value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nPoints" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1168"/>
						<xs:enumeration value="1169"/>
						<xs:enumeration value="12"/>
						<xs:enumeration value="120"/>
						<xs:enumeration value="1205"/>
						<xs:enumeration value="123"/>
						<xs:enumeration value="128"/>
						<xs:enumeration value="1316"/>
						<xs:enumeration value="136"/>
						<xs:enumeration value="158"/>
						<xs:enumeration value="1597"/>
						<xs:enumeration value="1602"/>
						<xs:enumeration value="17"/>
						<xs:enumeration value="1720"/>
						<xs:enumeration value="1923"/>
						<xs:enumeration value="1949"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="20"/>
						<xs:enumeration value="2010"/>
						<xs:enumeration value="2019"/>
						<xs:enumeration value="2025"/>
						<xs:enumeration value="2032"/>
						<xs:enumeration value="2053"/>
						<xs:enumeration value="2141"/>
						<xs:enumeration value="218"/>
						<xs:enumeration value="2270"/>
						<xs:enumeration value="2274"/>
						<xs:enumeration value="233"/>
						<xs:enumeration value="2402"/>
						<xs:enumeration value="2448"/>
						<xs:enumeration value="2456"/>
						<xs:enumeration value="248"/>
						<xs:enumeration value="2493"/>
						<xs:enumeration value="25"/>
						<xs:enumeration value="2615"/>
						<xs:enumeration value="2631"/>
						<xs:enumeration value="2634"/>
						<xs:enumeration value="2695"/>
						<xs:enumeration value="2710"/>
						<xs:enumeration value="275"/>
						<xs:enumeration value="28"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="33"/>
						<xs:enumeration value="38"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="41"/>
						<xs:enumeration value="42"/>
						<xs:enumeration value="46"/>
						<xs:enumeration value="48"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="53"/>
						<xs:enumeration value="55"/>
						<xs:enumeration value="56"/>
						<xs:enumeration value="57"/>
						<xs:enumeration value="588"/>
						<xs:enumeration value="6"/>
						<xs:enumeration value="65"/>
						<xs:enumeration value="68"/>
						<xs:enumeration value="7"/>
						<xs:enumeration value="721"/>
						<xs:enumeration value="735"/>
						<xs:enumeration value="79"/>
						<xs:enumeration value="8"/>
						<xs:enumeration value="80"/>
						<xs:enumeration value="99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nItems" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="LA"/>
						<xs:enumeration value="LHP"/>
						<xs:enumeration value="LK"/>
						<xs:enumeration value="LT"/>
						<xs:enumeration value="RA"/>
						<xs:enumeration value="RHP"/>
						<xs:enumeration value="RK"/>
						<xs:enumeration value="RT"/>
						<xs:enumeration value="[0]"/>
						<xs:enumeration value="[100]"/>
						<xs:enumeration value="[101]"/>
						<xs:enumeration value="[102]"/>
						<xs:enumeration value="[103]"/>
						<xs:enumeration value="[107]"/>
						<xs:enumeration value="[108]"/>
						<xs:enumeration value="[109]"/>
						<xs:enumeration value="[10]"/>
						<xs:enumeration value="[110]"/>
						<xs:enumeration value="[115]"/>
						<xs:enumeration value="[116]"/>
						<xs:enumeration value="[118]"/>
						<xs:enumeration value="[11]"/>
						<xs:enumeration value="[120]"/>
						<xs:enumeration value="[121]"/>
						<xs:enumeration value="[122]"/>
						<xs:enumeration value="[123]"/>
						<xs:enumeration value="[124]"/>
						<xs:enumeration value="[125]"/>
						<xs:enumeration value="[126]"/>
						<xs:enumeration value="[127]"/>
						<xs:enumeration value="[128]"/>
						<xs:enumeration value="[129]"/>
						<xs:enumeration value="[12]"/>
						<xs:enumeration value="[130]"/>
						<xs:enumeration value="[131]"/>
						<xs:enumeration value="[132]"/>
						<xs:enumeration value="[133]"/>
						<xs:enumeration value="[134]"/>
						<xs:enumeration value="[135]"/>
						<xs:enumeration value="[136]"/>
						<xs:enumeration value="[137]"/>
						<xs:enumeration value="[138]"/>
						<xs:enumeration value="[139]"/>
						<xs:enumeration value="[13]"/>
						<xs:enumeration value="[140]"/>
						<xs:enumeration value="[141]"/>
						<xs:enumeration value="[142]"/>
						<xs:enumeration value="[143]"/>
						<xs:enumeration value="[144]"/>
						<xs:enumeration value="[145]"/>
						<xs:enumeration value="[146]"/>
						<xs:enumeration value="[147]"/>
						<xs:enumeration value="[148]"/>
						<xs:enumeration value="[149]"/>
						<xs:enumeration value="[14]"/>
						<xs:enumeration value="[150]"/>
						<xs:enumeration value="[151]"/>
						<xs:enumeration value="[152]"/>
						<xs:enumeration value="[153]"/>
						<xs:enumeration value="[154]"/>
						<xs:enumeration value="[155]"/>
						<xs:enumeration value="[156]"/>
						<xs:enumeration value="[157]"/>
						<xs:enumeration value="[158]"/>
						<xs:enumeration value="[159]"/>
						<xs:enumeration value="[15]"/>
						<xs:enumeration value="[160]"/>
						<xs:enumeration value="[161]"/>
						<xs:enumeration value="[162]"/>
						<xs:enumeration value="[163]"/>
						<xs:enumeration value="[164]"/>
						<xs:enumeration value="[165]"/>
						<xs:enumeration value="[16]"/>
						<xs:enumeration value="[17]"/>
						<xs:enumeration value="[18]"/>
						<xs:enumeration value="[19]"/>
						<xs:enumeration value="[1]"/>
						<xs:enumeration value="[20]"/>
						<xs:enumeration value="[21]"/>
						<xs:enumeration value="[22]"/>
						<xs:enumeration value="[23]"/>
						<xs:enumeration value="[24]"/>
						<xs:enumeration value="[26]"/>
						<xs:enumeration value="[28]"/>
						<xs:enumeration value="[2]"/>
						<xs:enumeration value="[30]"/>
						<xs:enumeration value="[31]"/>
						<xs:enumeration value="[33]"/>
						<xs:enumeration value="[34]"/>
						<xs:enumeration value="[35]"/>
						<xs:enumeration value="[36]"/>
						<xs:enumeration value="[37]"/>
						<xs:enumeration value="[38]"/>
						<xs:enumeration value="[39]"/>
						<xs:enumeration value="[3]"/>
						<xs:enumeration value="[40]"/>
						<xs:enumeration value="[41]"/>
						<xs:enumeration value="[42]"/>
						<xs:enumeration value="[43]"/>
						<xs:enumeration value="[44]"/>
						<xs:enumeration value="[45]"/>
						<xs:enumeration value="[48]"/>
						<xs:enumeration value="[49]"/>
						<xs:enumeration value="[4]"/>
						<xs:enumeration value="[51]"/>
						<xs:enumeration value="[52]"/>
						<xs:enumeration value="[53]"/>
						<xs:enumeration value="[55]"/>
						<xs:enumeration value="[56]"/>
						<xs:enumeration value="[57]"/>
						<xs:enumeration value="[58]"/>
						<xs:enumeration value="[59]"/>
						<xs:enumeration value="[60]"/>
						<xs:enumeration value="[62]"/>
						<xs:enumeration value="[63]"/>
						<xs:enumeration value="[64]"/>
						<xs:enumeration value="[67]"/>
						<xs:enumeration value="[68]"/>
						<xs:enumeration value="[69]"/>
						<xs:enumeration value="[70]"/>
						<xs:enumeration value="[71]"/>
						<xs:enumeration value="[72]"/>
						<xs:enumeration value="[73]"/>
						<xs:enumeration value="[74]"/>
						<xs:enumeration value="[75]"/>
						<xs:enumeration value="[76]"/>
						<xs:enumeration value="[77]"/>
						<xs:enumeration value="[78]"/>
						<xs:enumeration value="[79]"/>
						<xs:enumeration value="[80]"/>
						<xs:enumeration value="[81]"/>
						<xs:enumeration value="[82]"/>
						<xs:enumeration value="[84]"/>
						<xs:enumeration value="[86]"/>
						<xs:enumeration value="[87]"/>
						<xs:enumeration value="[88]"/>
						<xs:enumeration value="[8]"/>
						<xs:enumeration value="[90]"/>
						<xs:enumeration value="[91]"/>
						<xs:enumeration value="[92]"/>
						<xs:enumeration value="[93]"/>
						<xs:enumeration value="[95]"/>
						<xs:enumeration value="[96]"/>
						<xs:enumeration value="[97]"/>
						<xs:enumeration value="[98]"/>
						<xs:enumeration value="[99]"/>
						<xs:enumeration value="[9]"/>
						<xs:enumeration value="[P0]"/>
						<xs:enumeration value="[P1]"/>
						<xs:enumeration value="c7"/>
						<xs:enumeration value="l asis"/>
						<xs:enumeration value="l bar 1"/>
						<xs:enumeration value="l bar 2"/>
						<xs:enumeration value="l knee 1"/>
						<xs:enumeration value="l knee 2"/>
						<xs:enumeration value="l mall"/>
						<xs:enumeration value="l met"/>
						<xs:enumeration value="l should"/>
						<xs:enumeration value="l thigh"/>
						<xs:enumeration value="r asis"/>
						<xs:enumeration value="r bar 1"/>
						<xs:enumeration value="r bar 2"/>
						<xs:enumeration value="r knee 1"/>
						<xs:enumeration value="r knee 2"/>
						<xs:enumeration value="r mall"/>
						<xs:enumeration value="r met"/>
						<xs:enumeration value="r should"/>
						<xs:enumeration value="r thigh"/>
						<xs:enumeration value="sacrum"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="data" type="xs:string" use="required"/>
			<xs:attribute name="coords" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="X Y Z"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="torque">
		<xs:complexType>
			<xs:attribute name="scaleFactor" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="10000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nSegs" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nPoints" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="0"/>
						<xs:enumeration value="2141"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nItems" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="[P0]"/>
						<xs:enumeration value="[P1]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="data" type="xs:string" use="required"/>
			<xs:attribute name="coords" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="X Y Z"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="time_band">
		<xs:complexType>
			<xs:attribute name="scaleFactor" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="10000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nSegs" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nPoints" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nItems" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="tmLDBLSTANCE"/>
						<xs:enumeration value="tmLSTANCE"/>
						<xs:enumeration value="tmLSTRIDE"/>
						<xs:enumeration value="tmLSWING"/>
						<xs:enumeration value="tmRDBLSTANCE"/>
						<xs:enumeration value="tmRSTANCE"/>
						<xs:enumeration value="tmRSTRIDE"/>
						<xs:enumeration value="tmRSWING"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="L Double Support"/>
						<xs:enumeration value="L Stance Time"/>
						<xs:enumeration value="L Stride Time"/>
						<xs:enumeration value="L Swing Time"/>
						<xs:enumeration value="R Double Support"/>
						<xs:enumeration value="R Stance Time"/>
						<xs:enumeration value="R Stride Time"/>
						<xs:enumeration value="R Swing Time"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="data" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="13600 0"/>
						<xs:enumeration value="13800 0"/>
						<xs:enumeration value="14720 0"/>
						<xs:enumeration value="2400 0"/>
						<xs:enumeration value="280 80"/>
						<xs:enumeration value="5760 0"/>
						<xs:enumeration value="6920 0"/>
						<xs:enumeration value="8960 0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="coords" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="M S"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="time">
		<xs:complexType>
			<xs:attribute name="scaleFactor" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="10000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nSegs" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nPoints" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nItems" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="tseqLDBLSTANCE"/>
						<xs:enumeration value="tseqLSTANCE"/>
						<xs:enumeration value="tseqLSTRIDE"/>
						<xs:enumeration value="tseqLSWING"/>
						<xs:enumeration value="tseqRDBLSTANCE"/>
						<xs:enumeration value="tseqRSTANCE"/>
						<xs:enumeration value="tseqRSTRIDE"/>
						<xs:enumeration value="tseqRSWING"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="L Double Support"/>
						<xs:enumeration value="L Stance Time"/>
						<xs:enumeration value="L Stride Time"/>
						<xs:enumeration value="L Swing Time"/>
						<xs:enumeration value="R Double Support"/>
						<xs:enumeration value="R Stance Time"/>
						<xs:enumeration value="R Stride Time"/>
						<xs:enumeration value="R Swing Time"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="data" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="I 13600 "/>
						<xs:enumeration value="I 13800 "/>
						<xs:enumeration value="I 14720 "/>
						<xs:enumeration value="I 200 I 360 "/>
						<xs:enumeration value="I 2400 "/>
						<xs:enumeration value="I 5760 "/>
						<xs:enumeration value="I 6920 "/>
						<xs:enumeration value="I 8960 "/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="coords" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="V"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="stream">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="track"/>
				<xs:sequence minOccurs="0">
					<xs:element maxOccurs="unbounded" ref="force"/>
					<xs:element maxOccurs="unbounded" ref="torque"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="startTime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nFrames" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="12851"/>
						<xs:enumeration value="3220"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="frequency" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="1000"/>
						<xs:enumeration value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="stick_model">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="link"/>
			</xs:sequence>
			<xs:attribute name="nLinks" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="29"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Xmf"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="static">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="reference"/>
				<xs:element maxOccurs="unbounded" ref="event"/>
				<xs:element maxOccurs="unbounded" ref="track1d"/>
				<xs:element maxOccurs="unbounded" ref="track1d_band"/>
				<xs:element maxOccurs="unbounded" ref="time"/>
				<xs:element maxOccurs="unbounded" ref="time_band"/>
				<xs:element maxOccurs="unbounded" ref="scalar"/>
				<xs:element maxOccurs="unbounded" ref="freq"/>
				<xs:element maxOccurs="unbounded" ref="vel1d"/>
			</xs:sequence>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="scalar">
		<xs:complexType>
			<xs:attribute name="scaleFactor" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="10000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nSegs" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nPoints" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nItems" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="sLDBLSTANCE"/>
						<xs:enumeration value="sLSTANCE"/>
						<xs:enumeration value="sLSWING"/>
						<xs:enumeration value="sRDBLSTANCE"/>
						<xs:enumeration value="sRSTANCE"/>
						<xs:enumeration value="sRSWING"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="L Double Support"/>
						<xs:enumeration value="L Stance Phase"/>
						<xs:enumeration value="L Swing Phase"/>
						<xs:enumeration value="R Double Support"/>
						<xs:enumeration value="R Stance Phase"/>
						<xs:enumeration value="R Swing Phase"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="data" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="1739"/>
						<xs:enumeration value="203"/>
						<xs:enumeration value="3913"/>
						<xs:enumeration value="4701"/>
						<xs:enumeration value="6087"/>
						<xs:enumeration value="9855"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="coords" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="V"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="reference">
		<xs:complexType>
			<xs:attribute name="scaleFactor" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="10000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nSegs" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nPoints" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nItems" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="LAB"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="data" type="xs:string" use="required"/>
			<xs:attribute name="coords" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="X Y Z RPx RPy RPz"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="platforms">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="platform"/>
			</xs:sequence>
			<xs:attribute name="nPlats" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="platform">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="corner1"/>
				<xs:element ref="corner2"/>
				<xs:element ref="corner3"/>
				<xs:element ref="corner4"/>
			</xs:sequence>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Platform1"/>
						<xs:enumeration value="Platform2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="link">
		<xs:complexType>
			<xs:attribute name="label2" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="c7"/>
						<xs:enumeration value="l asis"/>
						<xs:enumeration value="l bar 1"/>
						<xs:enumeration value="l bar 2"/>
						<xs:enumeration value="l knee 1"/>
						<xs:enumeration value="l knee 2"/>
						<xs:enumeration value="l mall"/>
						<xs:enumeration value="l should"/>
						<xs:enumeration value="l thigh"/>
						<xs:enumeration value="r asis"/>
						<xs:enumeration value="r bar 1"/>
						<xs:enumeration value="r bar 2"/>
						<xs:enumeration value="r knee 1"/>
						<xs:enumeration value="r knee 2"/>
						<xs:enumeration value="r mall"/>
						<xs:enumeration value="r should"/>
						<xs:enumeration value="r thigh"/>
						<xs:enumeration value="sacrum"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label1" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="c7"/>
						<xs:enumeration value="l asis"/>
						<xs:enumeration value="l bar 1"/>
						<xs:enumeration value="l bar 2"/>
						<xs:enumeration value="l knee 1"/>
						<xs:enumeration value="l knee 2"/>
						<xs:enumeration value="l mall"/>
						<xs:enumeration value="l met"/>
						<xs:enumeration value="l should"/>
						<xs:enumeration value="l thigh"/>
						<xs:enumeration value="r asis"/>
						<xs:enumeration value="r bar 1"/>
						<xs:enumeration value="r bar 2"/>
						<xs:enumeration value="r knee 1"/>
						<xs:enumeration value="r knee 2"/>
						<xs:enumeration value="r mall"/>
						<xs:enumeration value="r met"/>
						<xs:enumeration value="r should"/>
						<xs:enumeration value="r thigh"/>
						<xs:enumeration value="sacrum"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="freq">
		<xs:complexType>
			<xs:attribute name="scaleFactor" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nSegs" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nPoints" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nItems" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="fqCADENCE"/>
						<xs:enumeration value="fqLCADENCE"/>
						<xs:enumeration value="fqRCADENCE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="L Cadence"/>
						<xs:enumeration value="Mean Cadence"/>
						<xs:enumeration value="R Cadence"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="data" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="140"/>
						<xs:enumeration value="68"/>
						<xs:enumeration value="72"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="coords" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="V"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="force">
		<xs:complexType>
			<xs:attribute name="scaleFactor" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="10000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nSegs" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nPoints" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="0"/>
						<xs:enumeration value="2141"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nItems" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="[P0]"/>
						<xs:enumeration value="[P1]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="data" type="xs:string" use="required"/>
			<xs:attribute name="coords" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="X Y Z"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="event_band">
		<xs:complexType>
			<xs:attribute name="scaleFactor" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="10000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nSegs" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nPoints" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nItems" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="enmLTO"/>
						<xs:enumeration value="enmRTO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="L Toe Off"/>
						<xs:enumeration value="R Toe Off"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="data" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="S 0 145 0 "/>
						<xs:enumeration value="S 0 6087 0 "/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="coords" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="M S"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="event">
		<xs:complexType>
			<xs:attribute name="scaleFactor" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="10000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nSegs" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="-1"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nPoints" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nItems" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="eLHS"/>
						<xs:enumeration value="eLTO"/>
						<xs:enumeration value="eRHS"/>
						<xs:enumeration value="eRTO"/>
						<xs:enumeration value="enLTO"/>
						<xs:enumeration value="enRTO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="L Heel Strike"/>
						<xs:enumeration value="L Toe Off"/>
						<xs:enumeration value="R Heel Strike"/>
						<xs:enumeration value="R Toe Off"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="data" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="I 62960 I 76920 "/>
						<xs:enumeration value="I 70000 I 84720 "/>
						<xs:enumeration value="I 76560 I 62760 "/>
						<xs:enumeration value="I 78960 "/>
						<xs:enumeration value="I S 0 145 "/>
						<xs:enumeration value="I S 0 6087 "/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="coords" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="V"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="emxDataFile">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="trial"/>
			</xs:sequence>
			<xs:attribute name="sourceApp" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Viper"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="format" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="0.1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="cycle">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="angle"/>
				<xs:element maxOccurs="unbounded" ref="angle_band"/>
				<xs:element maxOccurs="unbounded" ref="event"/>
				<xs:element maxOccurs="unbounded" ref="event_band"/>
			</xs:sequence>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="corner4">
		<xs:complexType>
			<xs:attribute name="z" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:enumeration value="2.236887E-2"/>
						<xs:enumeration value="8.306314E-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="y" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:enumeration value="3.058949E-3"/>
						<xs:enumeration value="4.130375E-3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="x" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:enumeration value="2.622765E-2"/>
						<xs:enumeration value="9.18613E-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="corner3">
		<xs:complexType>
			<xs:attribute name="z" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="0.4223657"/>
						<xs:enumeration value="0.4306326"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="y" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:enumeration value="3.156973E-3"/>
						<xs:enumeration value="3.338801E-3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="x" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:enumeration value="2.779983E-2"/>
						<xs:enumeration value="9.184083E-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="corner2">
		<xs:complexType>
			<xs:attribute name="z" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="0.4200096"/>
						<xs:enumeration value="0.4309461"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="y" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:enumeration value="2.163082E-4"/>
						<xs:enumeration value="4.593804E-4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="x" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="0.3184145"/>
						<xs:enumeration value="0.6277871"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="corner1">
		<xs:complexType>
			<xs:attribute name="z" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:enumeration value="2.001282E-2"/>
						<xs:enumeration value="8.309449E-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="y" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:enumeration value="-6.354344E-5"/>
						<xs:enumeration value="1.432783E-3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="x" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="0.3186191"/>
						<xs:enumeration value="0.6262149"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="calibration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="platforms"/>
				<xs:element ref="volume"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="angle_band">
		<xs:complexType>
			<xs:attribute name="scaleFactor" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nSegs" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nPoints" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="101"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nItems" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="acmLAFE"/>
						<xs:enumeration value="acmLAIE"/>
						<xs:enumeration value="acmLHPAA"/>
						<xs:enumeration value="acmLHPFE"/>
						<xs:enumeration value="acmLHPIE"/>
						<xs:enumeration value="acmLKAA"/>
						<xs:enumeration value="acmLKFE"/>
						<xs:enumeration value="acmLKIE"/>
						<xs:enumeration value="acmLPOBLI"/>
						<xs:enumeration value="acmLPROT"/>
						<xs:enumeration value="acmLPTILT"/>
						<xs:enumeration value="acmRAFE"/>
						<xs:enumeration value="acmRAIE"/>
						<xs:enumeration value="acmRHPAA"/>
						<xs:enumeration value="acmRHPFE"/>
						<xs:enumeration value="acmRHPIE"/>
						<xs:enumeration value="acmRKAA"/>
						<xs:enumeration value="acmRKFE"/>
						<xs:enumeration value="acmRKIE"/>
						<xs:enumeration value="acmRPOBLI"/>
						<xs:enumeration value="acmRPROT"/>
						<xs:enumeration value="acmRPTILT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="L Ankle Dorsi-Plantarflex"/>
						<xs:enumeration value="L Foot Progression Angle"/>
						<xs:enumeration value="L Hip Ab-Adduction"/>
						<xs:enumeration value="L Hip Flex-Extension"/>
						<xs:enumeration value="L Hip Rotation"/>
						<xs:enumeration value="L Knee Flex-Extension"/>
						<xs:enumeration value="L Knee Rotation"/>
						<xs:enumeration value="L Knee Valgus-Varus"/>
						<xs:enumeration value="L Pelvic Obliquity"/>
						<xs:enumeration value="L Pelvic Rotation"/>
						<xs:enumeration value="L Pelvic Tilt"/>
						<xs:enumeration value="R Ankle Dorsi-Plantarflex"/>
						<xs:enumeration value="R Foot Progression Angle"/>
						<xs:enumeration value="R Hip Ab-Adduction"/>
						<xs:enumeration value="R Hip Flex Extension"/>
						<xs:enumeration value="R Hip Rotation"/>
						<xs:enumeration value="R Knee Flex-Extension"/>
						<xs:enumeration value="R Knee Rotation"/>
						<xs:enumeration value="R Knee Valgus-Varus"/>
						<xs:enumeration value="R Pelvic Obliquity"/>
						<xs:enumeration value="R Pelvic Rotation"/>
						<xs:enumeration value="R Pelvic Tilt"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="data" type="xs:string" use="required"/>
			<xs:attribute name="coords" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="M S"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="angle">
		<xs:complexType>
			<xs:attribute name="scaleFactor" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nSegs" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nPoints" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="101"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nItems" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="acLAFE"/>
						<xs:enumeration value="acLAIE"/>
						<xs:enumeration value="acLHPAA"/>
						<xs:enumeration value="acLHPFE"/>
						<xs:enumeration value="acLHPIE"/>
						<xs:enumeration value="acLKAA"/>
						<xs:enumeration value="acLKFE"/>
						<xs:enumeration value="acLKIE"/>
						<xs:enumeration value="acLPOBLI"/>
						<xs:enumeration value="acLPROT"/>
						<xs:enumeration value="acLPTILT"/>
						<xs:enumeration value="acRAFE"/>
						<xs:enumeration value="acRAIE"/>
						<xs:enumeration value="acRHPAA"/>
						<xs:enumeration value="acRHPFE"/>
						<xs:enumeration value="acRHPIE"/>
						<xs:enumeration value="acRKAA"/>
						<xs:enumeration value="acRKFE"/>
						<xs:enumeration value="acRKIE"/>
						<xs:enumeration value="acRPOBLI"/>
						<xs:enumeration value="acRPROT"/>
						<xs:enumeration value="acRPTILT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="L Ankle Dorsi-Plantarflex"/>
						<xs:enumeration value="L Foot Progression Angle"/>
						<xs:enumeration value="L Hip Ab-Adduction"/>
						<xs:enumeration value="L Hip Flex-Extension"/>
						<xs:enumeration value="L Hip Rotation"/>
						<xs:enumeration value="L Knee Flex-Extension"/>
						<xs:enumeration value="L Knee Rotation"/>
						<xs:enumeration value="L Knee Valgus-Varus"/>
						<xs:enumeration value="L Pelvic Obliquity"/>
						<xs:enumeration value="L Pelvic Rotation"/>
						<xs:enumeration value="L Pelvic Tilt"/>
						<xs:enumeration value="R Ankle Dorsi-Plantarflex"/>
						<xs:enumeration value="R Foot Progression Angle"/>
						<xs:enumeration value="R Hip Ab-Adduction"/>
						<xs:enumeration value="R Hip Flex Extension"/>
						<xs:enumeration value="R Hip Rotation"/>
						<xs:enumeration value="R Knee Flex-Extension"/>
						<xs:enumeration value="R Knee Rotation"/>
						<xs:enumeration value="R Knee Valgus-Varus"/>
						<xs:enumeration value="R Pelvic Obliquity"/>
						<xs:enumeration value="R Pelvic Rotation"/>
						<xs:enumeration value="R Pelvic Tilt"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="data" type="xs:string" use="required"/>
			<xs:attribute name="coords" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="V"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
